<!DOCTYPE html>
<html>
    <head>
        <title>Employee Dashboard</title>
    </head>
    <body>
        <label for="Result">{{message}}</label>
        <h1>Welcome {{emp.fullName}}</h1>
        <h2>Your Profile</h2>
        <div>
            <label for="Name">Name: {{emp.fullName}}</label><br>
            <label for="Email">Email: {{emp.email}}</label><br>
            <label for="Phone">Mobile: {{emp.mobile}}</label><br>
            <label for="City">City: {{emp.city}}</label><br>
            <label for="Role">Role: {{emp.jobRole}}</label><br>
            
        </div>
        <div>
            <button>View Task</button>
        </div>
    </body>
</html>