<!DOCTYPE html>
<html>
    <head>
        <title>Manager Dashboard</title>
    </head>
    <body>
        <label for="Result">{{message}}</label>
        <h1>Welcome {{emp.fullName}}</h1>
        <h2>Your Profile</h2>
        <div>
            <label for="Name">Name: {{emp.fullName}}</label><br>
            <label for="Email">Email: {{emp.email}}</label><br>
            <label for="Phone">Mobile: {{emp.mobile}}</label><br>
            <label for="City">City: {{emp.city}}</label><br>
            
            
        </div>
        <div>
            <a href="/employee/listForManager/{{emp._id}}">View Employee</a>
            <a href="/employee/listStatus/{{emp._id}}">Check Task Status</a>
        </div>
    </body>
</html>