<!DOCTYPE html>
<html>
    <head>
        <title>Employee Dashboard</title>
    </head>
    <body>
        <label for="Result">{{message}}</label>
        <h1>Welcome {{emp.fullName}}</h1>
        <h2>Your Profile</h2>
        <div>
            <label for="Name">Name: {{emp.fullName}}</label><br>
            <label for="Email">Email: {{emp.email}}</label><br>
            <label for="Phone">Mobile: {{emp.mobile}}</label><br>
            <label for="City">City: {{emp.city}}</label><br>
            <label for="Role">Role: {{emp.jobRole}}</label><br>
            
        </div>
        <div>
            <a class="btn btn-secondary" href="/employee/employeeViewTask/{{emp._id}}"  style="color: black;">View Task</a>
             <a class="btn btn-secondary" href="/employee/{{emp._id}}"  style="color: black;">Edit Profile</a>
            <a class="btn btn-secondary" href="/employee/applyLeave/{{emp._id}}"  style="color: black;">Apply Leave</a>
            <a class="btn btn-secondary" href="/employee/checkLeaveStatus/{{emp._id}}"  style="color: black;">Check Leave Status</a>
        </div>
    </body>
</html>