<h1>Manager Dashboard</h1>
<h3> Reportee List</h3>
<table class="table table-striped">
    <p hidden id="managerId">MANAGER ID {{managerId}}</p>
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.jobRole}}</td>
            <td>
                 <a class="btn btn-secondary" href="/employee/addTask/{{../managerId}}&{{this._id}} "  style="color: black;">ADD TASK</a>
                 <a class="btn btn-secondary" href="/employee/updateLeaveStatus/{{../managerId}}&{{this._id}} "  style="color: black;">Leave Application</a>
            </td>
            
        </tr>
        {{/each}}
    </tbody>
</table>
