<h1>View Task</h1>
 <a class="btn btn-secondary" href="/employee/login"  style="color: black;">My Profile</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Manager ID</th>
            <th>Task Name</th>
            <th>Remark</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        
        <tr>
            <td>{{this.managerID}}</td>
            <td>{{this.taskGiven}}</td>
            <td>{{this.remark}}</td>
            <td>
                <a href="/employee/updateStatus/{{../eid}}&{{this.managerID}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i> Update Status</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
